VLLM_API_KEY="NLUKKXIJDZ91rpg1z"
VLLM_BASE_URL="http://127.0.0.1:8100/v1"

# openrouter api key
OPENROUTER_API_KEY="sk-or-v1-xxxx"
OPENROUTER_BASE_URL="https://openrouter.ai/api/v1"

# QIANFAN V2 API KEY, from: https://console.bce.baidu.com/iam/#/iam/apikey/list
QIANFAN_API_KEY="bce-v3/xxx"
QIANFAN_BASE_URL="https://qianfan.baidubce.com/v2"

CURATOR_VIEWER=0
TELEMETRY_ENABLED=0